@-webkit-keyframes blurIn {
    0% {
        color: rgba(255, 255, 255, 0)
    }
    25% {
        color: rgba(255, 255, 255, 1)
    }
    75% {
        color: rgba(255, 255, 255, 1)
    }
    100% {
        color: rgba(255, 255, 255, 0)
    }
  }
  
  
  /* Standard syntax */
  
  @keyframes blurIn {
    0% {
        color: rgba(255, 255, 255, 0)
    }
    25% {
        color: rgba(255, 255, 255, 1)
    }
    75% {
        color: rgba(255, 255, 255, 1)
    }
    100% {
        color: rgba(255, 255, 255, 0)
    }
  }


  .space{
    height: 30px;
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 20px;
 

}

.flex-box .box {
    justify-self: center;
    align-self: center;
    max-width: 200px;
    height: auto;
}

.flex-box .box .c,
.flex-box .box .d ,
.flex-box .box .e {
  align-self: flex-start;
}

.society {
  margin-bottom: 100px;
}

.society-heading {
  margin-top: 100px;
  margin-bottom: 300px;
}


  
  .effect_char {
    font-size: 12vh;
    font-family: "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0);
    animation-name: blurIn;
    animation-duration: 2s;
  }

  @media only screen and (max-width: 450px) {
    .effect_char {
      font-size: 10vh;
    }
  }
  
  #text_effect {
    margin-top: 28vh !important;
  }

  .counter-particles {
      height: 468px !important;
      position: absolute !important;
      width: 100% !important;
  }

  @media screen and (max-width: 768px) {
    .counter-particles {
        height: 1016px !important;
    }
    .flex-container {
      flex-direction: column;
    }
    #cas_logo {
      margin: auto;
      display: block;
    }
  }

  @media only screen and (max-width: 768px) {
    .sig-img {
      max-width: 50%;
      margin: auto;
      display: block;
    }
  }
  
  i {
    cursor: pointer;
  }
  .flex-container {
    display: flex;
    align-items: stretch;
  }
  
  .flex-container > div {
    padding: 20px;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0; 
  }

  .logo-box {
    text-align: center;
  }